<form focusInvalidInput class="w-100" [formGroup]="form" (ngSubmit)="onSubmit()">

  <div fxLayout="column" class="w-100" fxLayoutAlign="center">

    <!-- Escala Grau de Felicidade -->
    <div fxFlex="100">
      <h4>Grau de Felicidade</h4>
      <mat-form-field appearance="outline">
        <mat-label>Como você avalia seu grau de felicidade?</mat-label>
        <mat-select   required formControlName="grauFelicidade">
          <mat-option value="0">Muito Triste</mat-option>
          <mat-option value="1">Triste</mat-option>
          <mat-option value="2">Pouco Triste</mat-option>
          <mat-option value="3">Apático</mat-option>
          <mat-option value="4">Um Pouco Feliz</mat-option>
          <mat-option value="5">Muito Feliz</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Escala Grau de Disposição -->
    <div fxFlex="100">
      <h4>Grau de Disposição</h4>
      <mat-form-field appearance="outline">
        <mat-label>Como você avalia a sua disposição?</mat-label>
        <mat-select   required formControlName="grauDisposicao">
          <mat-option value="0">Muito Indisposto</mat-option>
          <mat-option value="1">Indisposto</mat-option>
          <mat-option value="2">Pouco Disposto</mat-option>
          <mat-option value="3">Disposto</mat-option>
          <mat-option value="4">Muito Disposto</mat-option>
          <mat-option value="5">Extremamente Disposto</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Escala Grau de Irritabilidade  -->
    <div fxFlex="100">
      <h4>Grau de Irritabilidade</h4>
      <mat-form-field appearance="outline">
        <mat-label>Como você avalia o seu grau de irritabilidade?</mat-label>
        <mat-select   required formControlName="grauIrritabilidade">
          <mat-option value="0">Muito Facilmente Irritável</mat-option>
          <mat-option value="1">Facilmente Irritável</mat-option>
          <mat-option value="2">Irritável</mat-option>
          <mat-option value="3">Não Muito Irritável</mat-option>
          <mat-option value="4">De Bom Humor</mat-option>
          <mat-option value="5">De Muito Bom Humor</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="100">
      <mat-form-field class="example-full-width">
        <mat-label>Relato</mat-label>
        <textarea
        required
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="10"
        matInput formControlName="relato"
        matInput placeholder="Ex. Hoje estou me sentindo..."></textarea>
      </mat-form-field>
  </div>

  </div>
  <!-- O NG CONTENT, É ONDE VAI SAIR O QUE VOCÊ ENFIAR PELO COMPONENTE DE CIMA, geralmente vai ser um botão -->
  <ng-content>
  </ng-content>
</form>
