<div matBadge="." matBadgeColor="warn" matBadgeSize="small" [matBadgeHidden]="!relato.new">
  <mat-expansion-panel  (opened)="opened()" [hideToggle]="false">
    <mat-expansion-panel-header >
      <mat-panel-title [matTooltip]="getComplete(relato.dataHora)" >{{getFromNow(relato.dataHora)}}</mat-panel-title>
      <mat-panel-description>
        {{relato.grauFelicidade | grau : 'f'}} -
        {{relato.grauDisposicao | grau: 'd'}} -
        {{relato.grauIrritabilidade | grau : 'i'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    {{relato.relato || 'Sem relato'}}
  </mat-expansion-panel>
</div>
