<div class="header-toolbar">
  <button mat-icon-button (click)="toggleSideMenu()">
    <mat-icon>{{openedSideMenu ? 'clear' : 'menu'}}</mat-icon>
  </button>
  <div fxLayout="row" fxLayoutAlign="end center">
    <p class="person-name animate__animated animate__fadeIn animate__delay-2s" *ngIf="!isMobile">
      {{(user | async)?.dadosUsuario?.nomeCompleto? 'Bem-vindo(a), ' + (user | async)?.dadosUsuario?.nomeCompleto + '!' : 'Bem-vindo(a)!'}}
    </p>
    <div>
      <i *ngIf="notificacoes"  class="fas fa-bell header-icon animate__animated animate__fadeIn"
         [matBadge]="quantidadeNotificacoesNaoLidas"
         [matBadgeHidden]="quantidadeNotificacoesNaoLidas < 1"
         [matBadgeSize]="'small'"
         matBadgeColor="warn"
         [ngStyle]="{'color': showNotificacoes ? '#01afc3' : '#000000de'}"
         (click)="openNotificacoes()"></i>
      <mat-icon matTooltip="Sair da conta" matRipple class="logout-icon" (click)="logout()">power_settings_new</mat-icon>
    </div>
    <app-notificacoes-popover *ngIf="notificacoes"
                              [notificacoes]="notificacoes"
                              [config]="notificationConfig"
                              (delete)="onDeleteNotification($event)"
                              [hidden]="!showNotificacoes"
                              (mouseleave)="showNotificacoes = false"
    ></app-notificacoes-popover>
  </div>
</div>
