.header-icon {
  margin-right: 15px;
  font-size: 20px;
  transition: 150ms all ease-in-out;
  cursor: pointer;
}

.header-icon:first-child {
  margin-left: 15px;
}

.person-name {
  margin: 0 !important;
}
.spacer {
  flex: 1 1 auto;
}


.header-toolbar {
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.13);
  height: 60px;
  background: white !important;
  position: relative;

  button {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
  }
  > div {
    height: 100%;
    width: 100%;
  }
}

app-notificacoes-popover {
  position: absolute;
  top: 15px;
  right: 50px;
  z-index: 999;
}

.header-icon:hover {
  color: #01afc3 !important;
}

.logout-icon {
  cursor: pointer;
  margin-left: 20px;
  margin-right: 10px;
}
