<app-test-box> <button (click)="setValidTestValues()">Preencher form</button> </app-test-box>

<form focusInvalidInput class="w-100" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div fxLayout="column" class="w-100" fxLayoutAlign="center">
    <fieldset formArrayName="dadosUsuario">
      <div fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput required formControlName="email" placeholder="Ex. jose@exemplo.com" [readonly]="flagTravarCampo">

        </mat-form-field>
      </div>
      <div fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label>Nome Completo</mat-label>
          <input matInput required formControlName="nomeCompleto" placeholder="Ex: José da silva">

        </mat-form-field>
      </div>
      <div fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label>CPF</mat-label>
          <input matInput required formControlName="cpf" placeholder="Ex: 111.111.111-00">

        </mat-form-field>
      </div>
      <div *ngIf="includeCrp"  fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label>CRP</mat-label>
          <input matInput required formControlName="crp" placeholder="Ex: 06/XXXX/J">

        </mat-form-field>
      </div>
      <div fxFlex="100">
        <h4>Gênero</h4>
        <mat-form-field appearance="outline">
          <mat-label>Gênero:</mat-label>
          <select matNativeControl required formControlName="sexo">
            <option value="m">Masculino</option>
            <option value="f">Feminino</option>
            <option value="outro">Outro</option>
            <option value="no">Não especificar</option>
          </select>
        </mat-form-field>
      </div>
      <div fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label>Data de Nascimento</mat-label>
          <input matInput required formControlName="data" placeholder="Ex: 01/01/1990">

        </mat-form-field>
      </div>
      <div fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label>Telefone</mat-label>
          <input matInput required formControlName="telefone" placeholder="Ex: (00) 9 9999-9999">

        </mat-form-field>
      </div>
      <div *ngIf="!flagTravarCampo"  fxFlex>
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput required formControlName="senha" type="password" placeholder="Insira sua senha">

        </mat-form-field>
      </div>
      <div *ngIf="!flagTravarCampo"  fxFlex>
        <mat-form-field appearance="outline">
          <mat-label>Confirmar Senha</mat-label>
          <input matInput required formControlName="confirmaSenha" type="password" placeholder="Confirme sua senha">

        </mat-form-field>
      </div>
    </fieldset>

    <fieldset formArrayName="endereco">
      <div fxFlex>
        <mat-form-field appearance="outline">
          <mat-label>CEP</mat-label>
          <input matInput required formControlName="cep" placeholder="Ex: 999999-999">
        </mat-form-field>
      </div>

      <div fxFlex>
        <mat-form-field appearance="outline">
          <mat-label>UF</mat-label>
          <input matInput required formControlName="uf" placeholder="Ex: MG">
        </mat-form-field>
      </div>

      <div fxFlex>
        <mat-form-field appearance="outline">
          <mat-label>Cidade</mat-label>
          <input matInput required formControlName="cidade" placeholder="Ex: Itajubá">
        </mat-form-field>
      </div>

      <div fxFlex>
        <mat-form-field appearance="outline">
          <mat-label>Bairro</mat-label>
          <input matInput required formControlName="bairro" placeholder="Ex: Laranjeiras">
        </mat-form-field>
      </div>

      <div fxFlex>
        <mat-form-field appearance="outline">
          <mat-label>Logradouro</mat-label>
          <input matInput required formControlName="logradouro" placeholder="Ex: Av. Brasil">
        </mat-form-field>
      </div>

      <div fxFlex>
        <mat-form-field appearance="outline">
          <mat-label>Número</mat-label>
          <input matInput required formControlName="numero" placeholder="Ex: 99">
        </mat-form-field>
      </div>
    </fieldset>

  </div>
  <!-- O NG CONTENT, É ONDE VAI SAIR O QUE VOCÊ ENFIAR PELO COMPONENTE DE CIMA, geralmente vai ser um botão -->
  <ng-content>
  </ng-content>
</form>
