<app-card [title]="link? 'Convite criado:' : 'Cadastrar Paciente'">
  <div *ngIf="!myUid" class="centralizer">
    <mat-spinner color="primary"></mat-spinner>
  </div>
  <app-form-convidar-paciente *ngIf="myUid && !link" class="w-100" (submited)="onRegister($event)">
    <art-button [type]="'submit'" [loading]="loading">Cadastrar</art-button>
  </app-form-convidar-paciente>
  <div *ngIf="link"  >
    <p>Envie este link para seu paciente, e ele poderá se cadastrar na plataforma. Você será automaticamente atribuído(a) como responsável por ele(a) após o registro.</p>
    <div fxLayout="row" fxLayoutAlign="center">
      <div style="max-width: 360px;" fxFlex="50">
        <mat-form-field class="example-form-field">
          <mat-label>Link de convite:</mat-label>
          <input matInput type="text" [(ngModel)]="link" [readOnly]="true">
        </mat-form-field>
      </div>
      <button matTooltip="Copiar" mat-button matSuffix mat-icon-button (click)="copyLink()">
        <mat-icon class="copy">collections_bookmark</mat-icon>
      </button>
    </div>
  </div>
</app-card>
