<app-card [title]="'Lista de relatos'">
  <div class="centralizer" *ngIf="loading">
    <mat-spinner color="primary"></mat-spinner>
  </div>

  <div *ngIf="paciente">
    <app-person-card [person]="paciente"></app-person-card>
  </div>

  <div class="centralizer" *ngIf="loadingRelatos">
    <mat-progress-bar mode="query" ></mat-progress-bar>
  </div>
  <div class="relatos" *ngIf="relatos">
    <mat-accordion single>
      <app-relato-card class="mt-2" (relatoOpened)="opened($event)" *ngFor="let relato of relatos" [relato]="relato">

      </app-relato-card>
    </mat-accordion>

  </div>
  <div class="mt-2">
    <art-message-box *ngIf="relatos && relatos.length === 0" [message]="'Nenhum relato deste paciente no momento.'">
    </art-message-box>
  </div>
</app-card>
