<app-card [title]="'Enviar relato'">
  <app-form-enviar-relato class="w-100" (submited)="enviarRelato($event)">
    <art-button [type]="'submit'" [loading]="loading">Enviar Relato</art-button>
  </app-form-enviar-relato>

  <div *ngIf="audioUrl">
    <mat-basic-audio-player [audioUrl]="audioUrl" [autoPlay]="false" muted="muted" [displayTitle]="false"
                            [displayVolumeControls]="true"></mat-basic-audio-player>
  </div>

  <app-recorder (recorded)="onAudioRecorded($event)"></app-recorder>
</app-card>
