<div [ngClass]="{'card animate__animated animate__fadeIn':true, 'gray-back': grayIt}">

  <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutAlign.lt-md="center center">
    <div class="avatar" fxFlex="30">
      <img src="assets/img/avatar-placeholder.png">
    </div>
    <div class="dados" fxFlex="70">
      <div class="nome">
        <p>{{person.dadosUsuario.nomeCompleto}}</p>
        <small>{{person.dadosUsuario.email || 'email@email.com.br'}}</small>
      </div>
      <div class="info">
        <p *ngIf="person.dadosPsicologo?.crp"> <b>CRP: </b>{{person.dadosPsicologo.crp}}</p>
        <p> <b>CPF: </b>{{person.dadosUsuario.cpf | mask: '000.000.000-00'}}</p>
        <p> <b>Data de nascimento: </b>{{person.dadosUsuario.dataNascimento}} -
          ({{person.dadosUsuario.dataNascimento | idade}} anos) </p>
        <p> <b>Gênero: </b>{{person.dadosUsuario.sexo | sexo}}</p>
        <p> <b>Telefone{{person.dadosUsuario.telefone.length > 1? 's' : ''}}: </b>
          <span *ngFor="let tel of person.dadosUsuario.telefone; let i = index">
            {{tel.telefone.length > 10 ? (tel.telefone  | mask: '(00) 0 0000-0000') : (tel.telefone | mask : '(00) 0000-0000')}}{{person.dadosUsuario.telefone.length > 1?  i+1 === person.dadosUsuario.telefone.length? '' : ' / ' : ''}}
          </span>
        </p>
      </div>
    </div>

    <div fxFlex="30" class="actions">
      <ng-content></ng-content>
    </div>

  </div>
  <ng-content></ng-content>
</div>
