.avatar {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.dados {
  padding: 5px;

  p {
    margin: 0;
  }


  .nome {
    p {
      font-size: 28px;
      margin: 0;
    }
  }

  .info {
    margin-top: 10px;
  }
}

.card {
  position: relative;
  padding: 10px;
  color: #272727;
  border-radius: 10px;
  background: rgba(148, 192, 30, 0.75);

  // background: linear-gradient(
  //   137deg,
  //   rgba(4, 32, 0, 1) 0%,
  //   rgba(0, 110, 0, 1) 80%,
  //   rgba(0, 255, 12, 1) 100%
  // );
}

.gray-back {
  background: rgb(160, 160, 160) !important;
}
