<div [ngClass]="{'card animate__animated animate__fadeIn':true, 'gray-back': grayIt}">

  <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutAlign.lt-md="center center">
    <div class="avatar" fxFlex="30">
      <img src="assets/img/avatar-placeholder.jpg">
    </div>
    <div class="dados" fxFlex>
      <div class="nome">
        <p>{{person.dadosUsuario.nomeCompleto}}</p>
        <small>{{person.dadosUsuario.email || 'email@email.com.br'}}</small>
      </div>
      <div class="info">
        <p> <b>CRP: </b>{{person.crp}}</p>
        <p> <b>Data de nascimento: </b>{{person.dadosUsuario.dataNascimento}}</p>
        <p> <b>Sexo: </b>{{person.dadosUsuario.sexo}}</p>
        <p> <b>Telefone: </b>{{person.dadosUsuario.telefone}}</p>
      </div>
    </div>

    <div fxFlex="30" class="actions">
      <ng-content></ng-content>
    </div>

  </div>
  <ng-content></ng-content>
</div>
