<form focusInvalidInput class="w-100" [formGroup]="form" (ngSubmit)="onSubmit()">

  <div fxLayout="column" class="w-100" fxLayoutAlign="center">
    <fieldset formArrayName="cabecalhoProtuario">

      <div fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-spinner style="position: absolute; top: 0; right: 25px;" diameter="25" *ngIf="!(pacientesArray$ | async)"
                       color="primary"></mat-spinner>
          <mat-label>Paciente:</mat-label>
          <mat-select [disabled]="!(pacientesArray$ | async)" required formControlName="idPaciente"
                      (selectionChange)="onChange($event)">
            <mat-option *ngFor="let paciente of pacientesArray$ | async" [value]="paciente">
              {{paciente.dadosUsuario.nomeCompleto}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label>Sexo</mat-label>
          <input matInput formControlName="sexo" placeholder="sexo" [value]="pacienteSelected?.dadosUsuario?.sexo"
                 readonly>

        </mat-form-field>
      </div>
      <div fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label>Data Nascimento</mat-label>
          <input matInput formControlName="dataNascimento" placeholder="data nascimento"
                 [value]="pacienteSelected?.dadosUsuario?.dataNascimento" readonly>

        </mat-form-field>
      </div>
    </fieldset>

    <!-- protuario -->
    <!-- <fieldset formArrayName="registroConsulta"> -->

    <div *ngFor="let ficha of arrayDadosFichasCadastro">
      <mat-divider></mat-divider>
      <app-form-registrar-consulta [readOnly]="!ficha.editando" (submited)="editarFicha(ficha, $event)"
                                   [bootstrap]="ficha" [apenasFicha]="true">
        <art-button *ngIf="!ficha.editando" (click)="ficha.editando = true" [type]="'button'">Editar</art-button>
        <art-button *ngIf="ficha.editando" [loading]="ficha.loading" [type]="'submit'">Salvar edição</art-button>
      </app-form-registrar-consulta>
      <mat-divider></mat-divider>
    </div>
    <!-- </fieldset> -->



  </div>

  <!-- O NG CONTENT, É ONDE VAI SAIR O QUE VOCÊ ENFIAR PELO COMPONENTE DE CIMA, geralmente vai ser um botão -->
  <ng-content>
  </ng-content>
</form>
