.card-login {
  // border: green 3px solid;
  margin: 80px;
  margin-top: 30px;
  .content {
    margin: auto;
    margin-top: 100px;
    width: 50%;
  }
}

.centralizer{
  img{
    width: 100%;
    max-width: 300px;
  }
}

.background {
  // background: url("../../../assets/img/background.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
