.not-content-container {
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 5px -5px #6a6a6a;
  border: 1px solid #ebe8e8;
  .img-wrapper {
    .img-container {
      border-radius: 100%;
      position: relative;
      margin: 5px 5px;
      span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        color: white;
      }
    }
}

  .text-container {
    * {
      margin: 0 0 0 0;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.2;
    }
  }

  .img-wrapper, .text-container {
    z-index: 1;
  }

  .background {
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: #cff0f4;
    border-radius: 10px;
    transition: 150ms all ease-in-out;
    * {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      transition: 250ms all ease-in-out;
      font-size: 30px;
    }
  }
}

.not-content-container:hover {
  transition: all 250ms ease-in-out;
  background-color: #01afc333;
}
